.custom-btn-play{
    width: 60px;
    background-color: #43e843;
    border-radius: 16px;
    font-size: 12px;
    margin-bottom: 4px;
    margin-top: 4px;
    border: none;    
}
.welcome-text{
    padding: 10px 5px 0px 10px;;
    color:blue
}


.btn-grad-orange {background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)}
.btn-grad {
    width: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   border: none; 
 }
 .btn-grad-blue {background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5  51%, #00d2ff  100%)}
 

  
 
