<div>
    <div class="welcome-text">
        <h4>
            Welcome {{userName}}
        </h4>
    </div>
    <div class="game-request-wrapper p10" *ngIf="gameRequests.length">
        <div>
            Game Requests
        </div>
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">PlayerId</th>
                        <th scope="col">Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of gameRequests; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td class="word-brk-all">{{user.opponentName || 'NA'}}</td>
                        <td>{{user.opponentId}}</td>
                        <td><button class="btn-grad btn-grad-orange" (click)="join(user)">Join</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="start-game-wrapper p10" *ngIf="friendsList.length">
        <div>
            Start Game
        </div>
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Start</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of friendsList; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td class="word-brk-all">{{user.userName || 'NA'}}</td>
                        <td>{{user.mobile}}</td>
                        <td><button class="btn-grad btn-grad-blue" (click)="invite(user)">Invite</button></td>
                    </tr>
                
                </tbody>
            </table>
        </div>
    </div>
    <div class="game-history-wrapper p10" *ngIf="gameHistory.length">
        <div>
            History
        </div>
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Player1</th>
                        <th scope="col">Player2</th>
                        <th scope="col">Winner</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of gameHistory; let i = index">
                        <td class="word-brk-all">{{user.player1Name}}</td>
                        <td class="word-brk-all">{{user.player2Name}}</td>
                        <td class="word-brk-all">{{user.winnerName || 'NA'}}</td>
                        <td>{{user.date | date:'shortDate' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>